.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 25px;
}

.searchIcon {
  display: flex;
  left: 20px;
  position: absolute;
  z-index: 1;
  font-size: 18px;
}

.searchInput {
  width: 200px;
  height: 25px;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 239, 239);
  padding-left: 2rem;
}
