.header {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 25px;
}

.searchIcon {
  display: flex;
  left: 20px;
  position: absolute;
  z-index: 1;
  font-size: 18px;
}

.searchInput {
  width: 200px;
  height: 25px;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 239, 239);
  padding-left: 2rem;
}

@media (min-width: 1281px) {
  .searchContainer {
    width: 400px;
    height: 30px;
  }

  .searchInput {
    width: 300px;
    height: 40px;
  }

  .searchIcon {
    left: 40px;
    font-size: 22px;
  }
}
